@charset "UTF-8;"

/* Paleta de cores 
    Roxo: #1C1973
    Roxo escuro: #0D0E26
    Roxo claro: #514BF2
*/

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body, html{
    background-color: #0D0E26;
    color: white;
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    width: 100vw;
    height: 100vh;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    color: black;
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.455);
}

section#login > div#imagem {
    display: block;
    background-color: #0D0E26;
    background-image: url(../imagens/pexels-markusspiske-6212801.jpg);
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
}

section#login > div#formulario{
    display: block;
    padding: 10px;
}